* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.paginaInicio {
  background-image: linear-gradient(90deg, #00B7D4, #505488, #2F3F80, #161569, #000, #5A4894, #A950A1, #DD7CAE);
  background-size: 500%;
  -webkit-animation: fanimado 10s infinite;
          animation: fanimado 10s infinite;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "nav nav nav nav" "header header header header" "article article article aside" "footer footer footer footer";
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 1fr;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

form {
  grid-area: form;
}

.paginaJuegos {
  background-image: linear-gradient(90deg, #00B7D4, #505488, #2F3F80, #161569, #000, #5A4894, #A950A1, #DD7CAE);
  background-size: 500%;
  -webkit-animation: fanimado 10s infinite;
          animation: fanimado 10s infinite;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "nav nav nav nav" "article article article aside" "footer footer footer footer";
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

@-webkit-keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.novedadesPag {
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.novedadesPag .contenedorNovedades {
  border: 5px solid #0096FF;
  background-color: black;
  padding: 1%;
  margin: 2%;
  display: flex;
}
.novedadesPag .contenedorNovedades img {
  height: 150px;
  width: 245px;
}
.novedadesPag .contenedorNovedades p {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.sProgramas {
  background-color: black;
  padding: 10px;
  margin: 30px;
}
.sProgramas .programasPc {
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
  color: red;
}
.sProgramas .introProgramas {
  margin: 30px;
  color: white;
}
.sProgramas .appInstalar {
  margin: 10px;
}
.sProgramas .appInstalar a {
  text-decoration: none;
  color: red;
  margin: 10px;
}

.pedidosPagina {
  background-image: linear-gradient(90deg, #00B7D4, #505488, #2F3F80, #161569, #000, #5A4894, #A950A1, #DD7CAE);
  background-size: 500%;
  -webkit-animation: fanimado 10s infinite;
          animation: fanimado 10s infinite;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "nav nav nav nav" "form form form form" "footer footer footer footer";
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}
.pedidosPagina .divFormulario {
  box-shadow: 1px 1px 10px 10px #000000;
  background-color: black;
  padding: 5%;
  margin: 10%;
}
.pedidosPagina .divFormulario label {
  color: white;
}
.pedidosPagina .btn {
  color: white !important;
}

.dmcaPagina {
  background-image: linear-gradient(90deg, #00B7D4, #505488, #2F3F80, #161569, #000, #5A4894, #A950A1, #DD7CAE);
  background-size: 500%;
  -webkit-animation: fanimado 10s infinite;
          animation: fanimado 10s infinite;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "nav" "section" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}
.dmcaPagina .dmca {
  background-color: black;
  color: white;
  border: 5px solid black;
  margin: 20px;
}
.dmcaPagina .dmca p {
  padding: 20px;
}

.navbar {
  background-color: black !important;
}

.navbar-toggler .navbar-brand {
  color: #0d6efd;
  margin-right: 0%;
}

.titulo {
  text-decoration: none;
  font-size: 30px;
  margin: 0px 10px 0px 10px;
}

.btn {
  border-color: #0d6efd !important;
  color: #0d6efd !important;
}

.juegoPrincipal {
  height: 250px;
  margin: 20px 20px 20px;
  background-color: black;
  box-shadow: 1px 1px 10px 10px #000000;
}
.juegoPrincipal .projectZomboid {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
}
.juegoPrincipal .projectZomboid iframe {
  margin: 10px;
  height: 230px;
  width: 60%;
}
.juegoPrincipal .projectZomboid h2, .juegoPrincipal .projectZomboid p {
  color: white;
  text-align: center;
  padding: 10px;
  margin: 5px;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside img {
  height: 200px;
  width: 200px;
}

article {
  background-color: black;
  margin: 20px 20px 30px;
  box-shadow: 1px 1px 10px 10px #000000;
}
article h2, article .juegoPrincipal .projectZomboid p, .juegoPrincipal .projectZomboid article p {
  color: white;
  padding: 10px;
  text-align: center;
}
article .flexContenedorInicio {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
article .flexContenedorInicio div {
  background-color: black;
  padding: 5px;
  border: 5px solid #0096FF;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article .flexContenedorInicio div h3 {
  color: white;
  text-align: center;
  font-size: 25px;
}
article .flexContenedorInicio div img {
  width: 220px;
  height: 200px;
}

.juegoInicio:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.pieDePagina {
  background-color: black;
  border-top: 5px solid #0096FF;
  color: white;
}
.pieDePagina .redSo {
  font-size: 1rem;
  padding-left: 0.5rem;
}
.pieDePagina .redesSociales {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0%;
  padding-left: 0;
}
.pieDePagina .telCopy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pieDePagina .copy {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
.pieDePagina .telefono {
  margin-bottom: 0%;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 850px) {
  .paginaInicio {
    grid-template-areas: "nav nav " "header header" "aside aside" "article article" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 2fr 3fr 1fr;
  }
  .paginaInicio .juegoPrincipal {
    height: 93%;
  }
  .paginaInicio .projectZomboid {
    flex-direction: column-reverse;
  }
  .paginaInicio .projectZomboid iframe {
    width: 100%;
  }
  .paginaJuegos {
    grid-template-areas: "nav nav" "article article" "aside aside" "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
  }
  .paginaJuegos .contenedorNovedades {
    flex-direction: column;
  }
  .paginaJuegos .contenedorNovedades img {
    height: 50%;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .paginaInicio {
    grid-template-areas: "nav" "header" "aside" "article" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 2fr 3fr 1fr;
  }
  .paginaJuegos {
    grid-template-areas: "nav" "article" "aside" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
  }
}/*# sourceMappingURL=style.css.map */