article{
    background-color: black;
    margin: 20px 20px 30px ;
    box-shadow: 1px 1px 10px 10px #000000;
        h2{
            color: white;
            padding: 10px;
            text-align: center;
        }
        .flexContenedorInicio{
            padding: 10px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
                div{
                    background-color: black;
                    padding: 5px;
                    border: 5px solid #0096FF;
                    margin: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                        h3{
                            color: white;
                            text-align: center;
                            font-size: 25px;
                        }
                        img{
                            width: 220px;
                            height: 200px;
                        }
                }
        }
}

.juegoInicio:hover{
    transform: scale(1.2);
    transition: all 1s;
}