.sProgramas{
    background-color: black;
    padding: 10px;
    margin: 30px;
    .programasPc{
        padding: 10px;
        margin: 10px;
        text-align: center;
        text-decoration: underline;
        color: red;
    }
    .introProgramas{
        margin: 30px;
        color: white;
    }
    .appInstalar{
        margin: 10px;
        a{
            text-decoration: none;
            color: red;
            margin: 10px;
        }
    }
}
