.pieDePagina{
    background-color: black;
    border-top: 5px solid #0096FF;
    color: white;
        .redSo{
            @extend .textFooter;
        }
        .redesSociales{
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: left;
            margin: 0%;
            padding-left: 0;
        }
        .telCopy{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .copy{
            @extend .textfooter;
        }
        .telefono{
            margin-bottom: 0%;
            padding-bottom: 0.5rem;
            padding-right: 0.5rem;
        }
        
}